// https://github.com/syndrizzle/hotfiles/tree/bspwm
// $bg: #1a1b26;
// $bg-alt: #16161e;
// $fg: #c0caf5;
// $fg-alt: #a9b1d6;
// $red: #db4b4b;
// $green: #9ece6a;
// $yellow: #e0af68;
// $orange: #ff9e64;
// $blue: #7aa2f7;
// $purple: #9d7cd8;
// $cyan: #7dcfff;
// $gray: #565f89;
// $gray-alt: #292E42;
// ---------------------------------------


/** Colors *******************************************/
$darker-background: #0b0f10;
$background-primary: #0f0f17;
$background-secondary: #151a1c;
$background-tertiary: #192022;
$lighter-background: #1C2325;

$foreground-primary: #C5C8C9;
$foreground-secondary: #9fa0a0;
$foreground-tertiary: #6e7071;

$red: #ee6a70;
$blue: #7ba5dd;
$blue-light: #a1bdce;
$blue-superlight: #bfc9db;
$blue-desaturated: #6791c9;
$magenta: #cb92f2;
$violet: #b1a6ee;
$green: #96d6b0;
$green-pastelle: #afbea2;
$yellow: #e0b089;
$accent: $blue;

$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;

@import "./bar/eww.scss";
